@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .animate-bounce {
    animation: bounce 2s infinite;
  }

  @keyframes swapAnimation {
    0%, 50% {
      opacity: 0;
      transform: scale(0.5);
    }
    51%, 100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .swap {
    position: relative;
    display: inline-block;
  }
  
  .swap input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  .swap-on,
  .swap-off {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }
  
  .swap-on {
    animation: swapAnimation 10s infinite;
    animation-delay: 0s;
  }
  
  .swap-off {
    animation: swapAnimation 10s infinite;
    animation-delay: 5s;
  }
  